body {
    background-color: rgb(44, 44, 44);
}

aside {
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-family: Arial, serif;
    background-color: rgba(130, 130,130, 0.438);
    &iframe {
        padding-top: 10px;
    }
}

section {
    background-color: rgba(159, 159, 159, 0.438);
    width: 77%;
}

h1 {
    color: azure;
    font-family: Verdana, serif;
    text-align: left;
    font-style: italic;
    padding-left: 7cm;
}

header {
    & p {
        text-align: center;
    }
}

p {
    color: azure;
    font-family: Arial, serif;
    text-align: left;
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    & p{
        text-align: center;
    }
}
