body {
    background-color: rgb(44, 44, 44);
}

aside {
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-family: Arial, serif;
    background-color: rgba(130, 130,130, 0.438);
    align-content: center;
    &iframe {
        padding-top: 10px;
    }
}

section {
    background-color: rgba(159, 159, 159, 0.438);
    width: 77%;
}

h1 {
    color: azure;
    font-family: Verdana, serif;
    text-align: left;
    font-style: italic;
    padding-left: 18%;
}

header {
    & p {
        text-align: center;
    }
    .nav {
        background: rgba(159, 159, 159, 0.438);
    }
    /* The sticky class is added to the header with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 102px;
    }
}

a {
    color: aliceblue;
}

p {
    color: azure;
    font-family: Arial, serif;
    text-align: left;
    padding: 10px;
}

.centerimg{
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    & p{
        text-align: center;
    }
}
